/*                   MAIN            */
html{
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    height: 100%;
    text-align: center;
    background: rgb(117,61,154);
    background: linear-gradient(90deg, rgba(117,61,154,1) 0%, rgba(79,167,166,1) 50%, rgba(96,109,203,1) 100%);

}
h1{
    text-align: right;
}
#content{
    min-height: 100vh;
}
#logo{
    position: absolute;
    left: .5em;
    top: .5em;
    transition: 2s;
}
#logo:hover{
    filter: grayscale(100%);
}